body{
    background-image: linear-gradient(rgb(2, 2, 46), rgb(84, 84, 250));
}
.mainprogreso{
    grid-area: main;
    width: 100vw;
    height: 87vh;
    background-image: url(../css/fotos/circuitomontaña.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3% auto 3% auto;
    border-radius:15px;
    
}

.niveles{
    padding-top: 5%;
    width: 100vw;  
    height: 80%;
    margin: 0% auto 0% auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 15%;
}

.niveles a{
    width: fit-content;
    height: 65%;
    text-decoration: none;
    background-color: gold;
    border: 2px solid black;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 4.2%;
    padding: 0% 2% 0% 2%;
    text-align: right;
    border-radius: 15%;
    transition: .4s;
    

}

.niveles a:hover{
    background-color: black;
    color: gold;
    opacity: 90%;
}

@media screen and (max-width: 1100px){
    .mainprogreso{
        background-size: cover;
    }
}